<form action="/create/save"></form>
    <a href="javascript:window.history.go(-1)">Voltar</a>
    <a class="main_rightlink" href="/upload">Ir para Criação em lote</a>

    <h2>Criação de Nova Conta</h2>
    <p>Por favor preencha o formulário para a criação da conta.</p>
    <hr>

    <label for="email"><b>Nome completo</b></label>
    <input type="text" placeholder="Ex: Fulano de Tal" name="email" required>

    <label for="psw"><b>CPF</b></label>
    <input type="text" placeholder="075.745.349-00" name="psw" required>

    <label for="psw-repeat"><b>Departamento</b></label>
    <input type="text" placeholder="Tecnologia da Informação" name="psw-repeat" required>
    <hr>
    <div class="bt">
        <button type="submit" class="btn">Criar Conta</button>
    </div>
</form>
